body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
}

.navbar-brand {
  font-weight: bold;
}

.hero-section {
  background: url('images/hero.jpg') no-repeat center center/cover;
  color: white;
  padding: 100px 0;
}

.features-section {
  padding: 50px 0;
}

.features-section .row {
  margin-bottom: 30px;
}

.about-section, .contact-section {
  padding: 50px 0;
}

.about-section img, .features-section img {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #f8f9fa;
  padding: 10px 0;
}

footer p {
  margin: 0;
}

footer a {
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
